.navbar {
    display: flex;
    background-color: blue;
    margin-bottom: 3rem;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    width: 100%;
}


.navbar-header {
    margin:0;
    margin-left: 1rem;
    white-space: nowrap;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color: lightyellow;
}

.navbar-header:hover {
    color: yellow;
}

.navbar a {
    text-decoration: none;
}


.navbar a:active {
    color:inherit;
}


.navbar-cart {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 2rem;
    border-style: solid;
    border-radius: 1rem;
    background-color: white;
    text-align: center;
    width: min(7rem, 11vw);
    height: min(7rem, 15vw);
    transition: border-color 0.2s, border-width 0s;
}

.navbar-cart:hover {
    border-color: lightgreen;
    border-width: 3px;
}

.cart-img {
    display: inline-block;
    width: min(3rem, 6vw);
    height: min(3rem, 6vw);
   
}



.cart-title {
    color: black;
    font-weight: bold;
    margin: 0;
    font-size: min(1.5rem, 2.5vw);
}

.navbar-cart span {
    display: block;
    font-size: min(15px, 1.5vw);
}